@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');


* {
    border: 0;
    font: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    line-height: 1.5rem;
    margin: 60px auto;
    max-width: 1200px;
    width: 86%;
}

.container {
    display: wrap;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.keynote {
    font-size: 1.2em;
    text-align: center;
    line-height: 0.7;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
    width: 100%;
}

.speaker {
    flex: 1 1 200px;
    max-width: 600px;
    font-size: 1.2em;
    text-align: center;
    justify-content: space-around;
     margin-bottom: 30px; 
     margin-top: 40px;
}

.small-text {
    font-size: 0.7em;
    color: #555;
    line-height: 1.1;
}

.small-br {
    margin: -4px 0;
    padding: 0;
}

.img_2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

a {
    color: #b8860b;
    text-decoration: none;
}
a.current {
    color: #52739e;
}
a.current:hover {
    color: #e82945;
}
a:hover {
    color: #b2132e;
}
a:active {
    color: #e82945;
}
a:focus {
    outline: 2px solid #52739e;
    outline-offset: 4px;
}

h1, h2, h3, h4 {
    clear: left;
    color: #813c54;
    margin: 1.5em 0 1em 0;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 2px #d0d0d0;
}
h1 { font-size: 2.67rem; }
h2 { font-size: 2.00rem; }
h3 { font-size: 1.67rem; }
h4 { font-size: 1.33rem; }

p, ul {
    margin: 20px auto;
    padding: 0;
    width: 100%;
    max-width: 1150px;
    line-height: 1.5;
}
p {
    text-align: justify;
}
ul {
    list-style: disc inside;
    text-align: left;
}
li a, p a {
    text-decoration: underline;
    text-decoration-color: #b8860b;
    line-height: 1.2;
}

i, em {
    font-style: italic;
}
b, strong {
    font-weight: bold;
}
sup, sub {
    font-size: 0.8em;
    line-height: 0;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

table {
    width: 90%;
    max-width: 1100px;
    margin: 12px auto 24px auto;
}

th, td {
    text-align: left;
}

li {
    padding-left: 30px; /* Adds space on the left of each list item */
}


/* Website Banner */
.banner {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.top-left {
    font-size: 4em;
    color: #505050;
    background: rgba(250, 250, 250, 0.05);
    text-align: center;
    width: 100%;
    bottom: 18%;
    position: absolute;
    padding: 5px 0;
    top: 0;
    line-height: 1;
     display: flex;  /* Use flexbox to easily control child elements */
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start;  /* Align children at the top */
    align-items: center;  /* Center */
    }

.bottom-right, .bottom-right_2 {
    color: #fafafa;
    line-height: 1;
    padding: 0 10px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    text-shadow: 0 0 6px #000;
}

.bottom-right{
    bottom: 18%;
    font-size: clamp(10.0px, 2.5vw, 35px);
     position: absolute;
}
.bottom-right_2 {
     bottom: 2%;
     font-size: clamp(10.0px, 2vw, 28px);
      position: absolute;
}



/* Conference Title Logo */
.title2 {
    font-weight: 400;
    font-size: clamp(30px, 5.5vw, 90px);
    color: #fafafa;
    text-shadow: 1px 1px 3px #c0c0c0;
    position: absolute;
    bottom: 18%;
    display: flex;
    gap: 0.5em;
    align-items: baseline; /* aligns the year with the bottom of text */
}

.title1 {
    top: 8%; /* Use top instead of bottom */
    font-weight: 400;
    text-shadow: 1px 1px 3px #c0c0c0;
    font-size: clamp(0px, 3vw, 60px); /* Reasonable max size */
    color: #fafafa;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}



.year {
    color: #505050;
    font-size: 0.5em;
    font-weight: lighter;
}


/* NEW Navigation Style Using Flexbox */
.navigation {
    display: flex;
    flex-wrap: wrap; /* allows wrapping to new row */
    justify-content: center;
    align-items: center;
    gap: 1.0em;
    padding: 1.0em;
    font-size:  1.7rem;;
    background-color: #f8f8f8;
    border-radius: 0px;
    max-width: 100%;
}

.navigation > div, .navigation > a {
    position: relative;
    padding: 0.5em 0.2em;
    background-color: #e6e6e6;
    border-radius: 0px;
    text-decoration: none;
    color: #b8860b;
     background-color: transparent;
    transition: background 0.3s;
    white-space: nowrap;
    cursor: pointer;
}

.navigation > a:hover,
.navigation > div:hover {
    background-color: #ccc;
    color: #813c54;
}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    flex-direction: column;
}

.submenu a {
    display: block;
    padding: 0.5em;
    font-size: 0.85em;
    color: #b8860b;
    text-align: left;
    text-decoration: none;
    background-color: white;
}

.submenu a:hover {
    background-color: #f0f0f0;
}

/* Show submenu on hover */
.navigation > div:hover .submenu {
    display: flex;
}


html {
    scroll-behavior: smooth;
}

/* Sponsors */
table.sponsors {
    width: 100%;
    max-width: 1200px;
}
td.sponsor {
    white-space: nowrap;
    width: 33%;
    text-align: center;
    vertical-align: middle;
}
td.sponsor img {
    width: 100%;
}

/* Program Table */
td.room, td.title, td.title-special, td.date, td.speaker, td.abstract {
    padding: 4px 12px;
    width: 100%;
}
td.room {
    font-size: 1.67em;
    color: #52739e;
}
td.date {
    width: 130px;
    text-align: right;
    vertical-align: top;
}
td.title {
    font-size: 1.5em;
    color: #813c54;
    font-family: 'Roboto Slab', serif;
}
td.title-special {
    font-size: 1.67em;
    color: #52739e;
    font-family: 'Roboto Slab', serif;
}
td.speaker, td.abstract {
    font-style: italic;
    font-size: 1em;
}
td.abstract img {
    display: block;
    margin: 4px auto 8px auto;
}
table.plenary {
    padding-top: 8px;
    background: #fff;
}


.form-container {
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;  /* responsive width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    width: 100%;  /* match form container */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

textarea {
    padding: 10px; /* Adjusted padding for a comfortable writing space */
    width: 100%;   /* match form container */
    height: 200px; /* Makes the textarea large enough for comments */
    margin-top: 5px;
    margin-bottom: 5px;     /* Removes margin */
    border: 1px solid #ccc;
    border-radius: 0px; /* Keeps border style consistent */
}


button {
    width: 100%;
    padding: 10px;
    background: #813c54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #b8860b;
}


footer {
    font-size: clamp(0.75em, 1vw, 1em); /* responsive text size */
    margin-top: min(1.2em, 20vh);        /* avoid too large gap on small screens */
    text-align: center;
    padding: 1em;
}


/* Registration and Directions iframes and Images */
iframe.registration{display:block; margin:1em auto 2em auto; width:700px; height:1200px; border:none;}
/* Directions iframe */
/* Directions iframe */
iframe.directions {
    display: block;
    margin: 1em auto;  /* Centers the iframe horizontally */
    width: 100%;  /* Makes the iframe responsive */
    max-width: 600px;  /* Sets a maximum width */
    height: 300px;  /* Sets a reasonable height */
    border: none;  /* Removes the default border */
}
img.center{display:block; width:67%; margin:1em auto 2em auto;}


@media only screen and (min-width: 3000px) {

  body {
    font-size: 2.5em;
    margin: 60px auto;
    max-width: 2000px;
    width: 86%;
}
    
    p, ul {
    margin: 40px auto;
    padding: 0;
    width: 100%;
    max-width: 2000px;
    line-height: 1.5;
}
    
    /* NEW Navigation Style Using Flexbox */
.navigation {
    display: flex;
    flex-wrap: wrap; /* allows wrapping to new row */
    justify-content: center;
    align-items: center;
    gap: 1.0em;
    padding: 1.0em;
    font-size:  3.0rem;;
    background-color: #f8f8f8;
    border-radius: 0px;
    max-width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 2000px;
}

.keynote {
    font-size: 1.2em;
    text-align: center;
    line-height: 0.7;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
    width: 100%;
}

.speaker {
    flex: 1 1 200px;
    max-width: 600px;
    font-size: 1.2em;
    text-align: center;
    justify-content: space-around;
     margin-bottom: 10px; 
     margin-top: 20px;
}
 
 
.form-container {
    background: transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;  /* responsive width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    h1, h2, h3, h4 {
        font-size: 3.0rem;
        margin: 1em 0 0.5em;
    }
 
/* Conference Title Logo */
.title2 {
    font-size: clamp(120px, 5.5vw, 150px);
}

.title1 {
    font-size: clamp(60px, 3vw, 90px); /* Reasonable max size */
}

iframe.directions {
    display: block;
    margin: 1em auto;  /* Centers the iframe horizontally */
    width: 100%;  /* Makes the iframe responsive */
    max-width: 1000px;  /* Sets a maximum width */
    height: 500px;  /* Sets a reasonable height */
    border: none;  /* Removes the default border */
}


}


@media only screen and (max-width: 1124px) {
  body {
    font-size: 1.2em;
    line-height: 1.5rem;
    margin: 60px auto;
    max-width: 1000px;
    width: 86%;
}
    
    p, ul {
    margin: 40px auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    line-height: 1.5;
}
    
    /* NEW Navigation Style Using Flexbox */
.navigation {
    display: flex;
    flex-wrap: wrap; /* allows wrapping to new row */
    justify-content: center;
    align-items: center;
    gap: 1.0em;
    padding: 1.0em;
    font-size:  1.2rem;;
    background-color: #f8f8f8;
    border-radius: 0px;
    max-width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
}

.keynote {
    font-size: 1.2em;
    text-align: center;
    line-height: 0.7;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
    width: 100%;
}

.speaker {
    flex: 1 1 200px;
    max-width: 600px;
    font-size: 1.2em;
    text-align: center;
    justify-content: space-around;
     margin-bottom: 10px; 
     margin-top: 20px;
}
 
 
.form-container {
    background: transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;  /* responsive width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    h1, h2, h3, h4 {
        font-size: 2.0rem;
        margin: 1em 0 0.5em;
    }
 iframe.directions {
    display: block;
    margin: 1em auto;  /* Centers the iframe horizontally */
    width: 100%;  /* Makes the iframe responsive */
    max-width: 500px;  /* Sets a maximum width */
    height: 250px;  /* Sets a reasonable height */
    border: none;  /* Removes the default border */
}
}





@media only screen and (max-width: 900px) {
  body {
    font-size: 0.85em;
    line-height: 1.5rem;
    margin: 60px auto;
    max-width: 1000px;
    width: 86%;
}
    
    p, ul {
    margin: 10px auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    line-height: 1.5;
}
    
    /* NEW Navigation Style Using Flexbox */
.navigation {
   
 
    gap: 1.0em;
    padding: 0.5em;
    font-size:  0.9rem;;
    background-color: #f8f8f8;
    border-radius: 0px;
    max-width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
}

.keynote {
    font-size: 1.0em;
    text-align: center;
    line-height: 0.7;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
    width: 100%;
}

.speaker {
    flex: 1 1 1px;
    max-width: 600px;
    font-size: 1.0em;
    text-align: center;
    justify-content: space-around;
     margin-bottom: 0px; 
     margin-top: 0px;
}
 
 
.form-container {
    background: transparent;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;  /* responsive width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    h1, h2, h3, h4 {
        font-size: 1.0rem;
        margin: 1em 0 0.5em;
    }
 
 iframe.directions {
    max-width: 300px;  /* Sets a maximum width */
    height: 150px;  /* Sets a reasonable height */
}
 
}







